---
layout: default
---

<div class="px-4 pt-3 my-1 text-center mb-3">
  <h1 class="display-5 fw-bold text-body-emphasis">Welcome to CogTwins Lab</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-3">
      Aiming for industrial intelligence, driven by advanced information
      technologies like Digital Twin and Large Language Model technologies, to
      build an efficient, secure, and intelligent digital industrial ecosystem.
    </p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-3">
      <a
        href="{{ '/academic_exchange' | relative_url }}"
        class="btn btn-primary btn-lg px-4 me-sm-3 rounded-3"
      >
        Academic Exchange
      </a>
      <a
        href="{{ '/team_publication' | relative_url }}"
        class="btn btn-outline-secondary btn-lg px-4 rounded-3"
      >
        Team Publication
      </a>
    </div>
  </div>
</div>

<div class="bg-primary-subtle text-primary-emphasis fs-6 fw-bold mb-3 p-2">
  <i class="bi bi-person-lines-fill"></i> Lab Members
</div>

{%- include team.html -%}

<div class="bg-primary-subtle text-primary-emphasis fs-6 fw-bold mb-3 p-2">
  <i class="bi bi-megaphone-fill"></i> Team Updates
</div>

{% for post in paginator.posts %}
<div
  class="d-flex flex-column flex-md-row justify-content-between w-100 border-bottom pt-1 pb-1"
>
  <a class="fs-6 text-decoration-none" href="{{ post.url | relative_url }}">
    {{ post.title | escape }}
  </a>
  <span class="text-muted fs-6">{{ post.date | date: site.date_format }}</span>
</div>
{% endfor %}

<div class="pagination mt-3 fs-6">
  {% if paginator.previous_page %}
  <a
    href="{{ paginator.previous_page_path | relative_url }}"
    class="btn btn-sm btn-primary rounded me-2"
  >
    <i class="bi bi-caret-left-fill"></i>
  </a>
  {% else %}
  <div class="btn btn-sm btn-secondary me-2 disabled">
    <i class="bi bi-caret-left-fill"></i>
  </div>
  {% endif %}
  <span class="text-muted ms-1 me-2">
    Page {{ paginator.page }} of {{ paginator.total_pages }}
  </span>
  {% if paginator.next_page %}
  <a
    href="{{ paginator.next_page_path | relative_url }}"
    class="btn btn-sm btn-primary rounded me-2"
  >
    <i class="bi bi-caret-right-fill"></i>
  </a>
  {% else %}
  <div class="btn btn-sm btn-secondary disabled me-2">
    <i class="bi bi-caret-right-fill"></i>
  </div>
  {% endif %}
</div>
