<header class="sticky-top">
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow-sm">
		<div class="container d-flex justify-content-between align-items-center">
			<div class="d-flex flex-column">
				<a class="navbar-brand fw-bold mb-0" href="/">CogTwins Lab</a>
				<small class="text-white" style="font-size: 0.8rem"
					>Cognitive Industrial Digital Twins Lab</small
				>
			</div>
			<button
				class="navbar-toggler"
				type="button"
				data-bs-toggle="collapse"
				data-bs-target="#navbarSupportedContent"
			>
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<a
							class="nav-link active hover-dark"
							href="{{ '/' | relative_url }}"
							>Home</a
						>
					</li>
					<li class="nav-item">
						<a
							class="nav-link active hover-dark"
							href="{{ '/team_publication' | relative_url }}"
							>Team Publications</a
						>
					</li>
					<li class="nav-item dropdown">
						<a
							class="nav-link dropdown-toggle active hover-dark"
							href="#"
							role="button"
							data-bs-toggle="dropdown"
							>Academic Exchange</a
						>
						<ul class="dropdown-menu">
							<li>
								<a
									class="dropdown-item"
									href="{{ '/academic_exchange' | relative_url }}"
									>Academic Exchange (SDUST)</a
								>
							</li>
							<li>
								<a class="dropdown-item disabled" href="#">IEEE (Qingdao)</a>
							</li>
						</ul>
					</li>
					<li class="nav-item dropdown">
						<a
							class="nav-link dropdown-toggle active hover-dark"
							href="#"
							role="button"
							data-bs-toggle="dropdown"
							>SDUST CIE</a
						>
						<ul class="dropdown-menu">
							<li>
								<a
									class="dropdown-item"
									href="https://cie.sdust.edu.cn/"
									target="_blank"
									>Qingdao Campus</a
								>
							</li>
							<li>
								<a
									class="dropdown-item"
									href="https://jnio.sdust.edu.cn/index.htm"
									target="_blank"
									>Jinan Campus</a
								>
							</li>
							<li><hr class="dropdown-divider" /></li>
							<li>
								<small class="dropdown-item disabled fs-sm text-wrap">
									Shandong University of Science and Technology - College of
									International Exchange
								</small>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</header>
