<div class="text-center">
    <img class="rounded-circle border shadow" height="140px" width="140px"
        src="{{ '/assets/imgs/jiehan.jpg' | relative_url }}" />
    <div class="fs-5 fw-light">
        Dr. Jiehan Zhou
    </div>
    <div class="fs-6 fw-light text-secondary">
        Team Leader
    </div>
    <div class="mt-2 gap-3">
        <a href="{{ '/jiehan_zhou' | relative_url }}" class="btn btn-sm btn-outline-primary rounded-3">
            View Profile
        </a>
    </div>
</div>
<div class="row mt-3">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <div class="row">
            <div class="col text-center mb-3">
                <img class="rounded-circle border shadow" height="140px" width="140px"
                src="{{ '/assets/imgs/emon.jpg' | relative_url }}" />
                <div class="fs-5 fw-light">
                    Ayub Ali Emon
                </div>
                <div class="fs-6 fw-light text-secondary">
                    Team Member
                </div>
            </div>
            <div class="col text-center mb-3">
                <img class="rounded-circle border shadow" height="140px" width="140px"
                src="{{ '/assets/imgs/siyuan.jpg' | relative_url }}" />
                <div class="fs-5 fw-light">
                    Si Yuan
                </div>
                <div class="fs-6 fw-light text-secondary">
                    Team Member
                </div>
            </div>
            <div class="col text-center mb-3">
                <img class="rounded-circle border shadow" height="140px" width="140px"
                src="{{ '/assets/imgs/walid.jpg' | relative_url }}" />
                <div class="fs-5 fw-light">
                    Walid Oulfakir
                </div>
                <div class="fs-6 fw-light text-secondary">
                    Team Member
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col text-center mb-3">
                <img class="rounded-circle border shadow" height="140px" width="140px"
                src="{{ '/assets/imgs/phonesamay.jpg' | relative_url }}" />
                <div class="fs-5 fw-light">
                    Phoutthavong Phonesamay
                </div>
                <div class="fs-6 fw-light text-secondary">
                    Team Member
                </div>
            </div>
            <div class="col text-center mb-3">
                <img class="rounded-circle border shadow" height="140px" width="140px"
                src="{{ '/assets/imgs/jinling.jpg' | relative_url }}" />
                <div class="fs-5 fw-light">
                    Jinling Yu
                </div>
                <div class="fs-6 fw-light text-secondary">
                    Team Member
                </div>
            </div>
            <div class="col text-center mb-3">
                <img class="rounded-circle border shadow" height="140px" width="140px"
                src="{{ '/assets/imgs/kawtar.jpg' | relative_url }}" />
                <div class="fs-5 fw-light">
                    Benyahya Kawtar
                </div>
                <div class="fs-6 fw-light text-secondary">
                    Team Member
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-2"></div>
</div>