.hero {
    position: relative;
    overflow: hidden;
}
.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('/assets/imgs/section_bg.jpg');
    background-size: cover;
    background-position: center;
    filter: blur(1px);
    z-index: -1;
}
.hero::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: -1;
}

.hover-primary:hover {
    color: var(--bs-primary) !important;
}

.hover-dark:hover {
    color: var(--bs-dark) !important;
}

.footbar {
    background-color: #111827;
    color: #ffffff;
    padding: 1rem;
}

.hprofile {
    transition: transform 0.3s ease;
}

.hprofile:hover {
    transform: scale(1.10);
}